:root {
    --active-color: #32CD32;
    --busy-color: #FF6347;
  }

* {
    height: 100% auto;
    width: 100% auto;
}

html, body, #Home, #Home>div {
    height: 100%;

    /* background-color: #32CD32; */
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.Home {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.Body {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding-left: 0px;
    padding-right: 15px;
}

.Body-Left {
    width: 25%;
    height: 100%;
    margin: 0;
    border-right: 1px solid #dcdcdc;
}

.Body-Middle {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin: 0;
    padding: 0px;
    border-right: 1px solid #dcdcdc;
}  

.Body-Right {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    margin: 0;
    margin-top: 100px;
    padding: 25px;
    gap: 20px;
} 

/*  ~~~~~~~~~~~~~~~~~~ LEFT SIDE  ~~~~~~~~~~~~~~~~~~ */

/* Navbar */
.Navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    height: 100%;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
}

.brand-logo {
    padding: 0;
    padding-top: 20px;
    background-color: var(--active-color);
    border: 1px solid grey;
    margin: 0;
}

.logo-image {
    width: 94%; /* Adjust the width as needed */
    max-height: 100%; /* Adjust the height as needed */
    padding: 10px;
}

.Navbar-line {
    color: white;
    border-bottom: 1px solid #dcdcdc;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 40px;
}

.Navbar-Links {
    display: flex;
    flex-direction: column;
    height: 60%;
    padding-left: 15%;
}

.Social-Option {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    text-decoration: none;
    gap: 15px;
    color: black;
    font-size: 25px;
    width: 100%;
}

.Social-Option-Active {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    gap: 15px;
    color: var(--active-color);
    font-size: 25px;
    width: 100%;
}

.Social-Option-Active:hover {
    color: var(--active-color);
}

.Social-Option:hover {
    color: var(--active-color);
}

.Social-Icon {
    width: 60px;
    height: 50px;
    font-size: 35px;
}

.SocialGroups p {
    align-self: center;
    justify-content: center;
    cursor: pointer;   
    border: 0;
}
  

/*  ~~~~~~~~~~~~~~~~~~ MIDDLE SIDE  ~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~ HOME ~~~~~~~~~ */
.Home {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.middle-text {
    font-size: 50px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 10px;
}

/* PostBar */
.PostBar {
    margin-top: 30px;
    height: 250px;
    width: 95%;
    font-size: 40px auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid #dcdcdc;
  }
  
  .PostBar-Image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 1%;
  }
  
  .PostBar-Form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
  }

  .PostBar-DropdownContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .PostBar-DropdownButton {
    text-decoration: none;
    height: 40px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    color: var(--active-color);
    padding: 10px;
    background-color: white;
    margin-bottom: 5px;
  }

  .PostBar-DropdownButtonSelect {
    text-decoration: none;
    height: 40px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    font-size: 17px;
    color: var(--active-color);
    padding: 10px;
    background-color: white;;
    margin-bottom: 5px;
  }

  .PostBar-DropdownText {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .PostBar-PostContainer {
    border-bottom: 1px solid #dcdcdc;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .PostBar-PostInput {
    height: 100px;
    width: 100%;
    border: none;
    font-size: 20px;
  }

  .PostBar-AdditionalInfo {
    text-decoration: none;
    border: none;
    background-color: white;
    color: var(--active-color);
    font-size: 25px;
  }

  .PostBar-BottomPost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .PostBar-IconContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .PostBar-InputContainer {
    display: flex;
    flex-direction: column;
  }
  
  .PostBar-InputLabel {
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
  }
  
  .PostBar-InputBar {
    width: 350px;
    height: 40px;
    border: 1px solid #8f8f8f;
    border-radius: 15px;
  }
  
  .PostBar-Button {
    border: none;
    background-color: var(--active-color);
    border-radius: 25px;
    margin-top: 10px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

  .PostBar button:hover {
    opacity: 0.8;
  }
  

/* Post */
.Post {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    border-bottom:1px solid #121212;
}

.Post-UserInfo p {
    font-size: 25px;
    font-weight: bold;
}

.Post-UserInfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.Post-UserInfo-Image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    align-self: center;
}

.Post-Content {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.Post p {
    font-size: 20px;
    align-self: left;
}

.ProfilePage {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    width: 95%;
    padding-top: 10px;
    padding-left: 60px;
}

.ProfilePage h2 {
    font-size: 40px;
}

.ProfilePicture {
    width: 30%;
    max-width: 300px;
    margin-right: 10%;
}

.ProfilePage .in-line {
    position: relative;
    display: flex;
    flex-direction: flex-start;
    margin-right: 10%;
}

.ProfilePage .column {
    position: relative;
    display: table-column;
    margin-bottom: 100px;
    margin-right: 10%;
}

.timetable-container {
    width: 95%; 
}

/*  ~~~~~~~~~~~~~~~~~~ RIGHT SIDE  ~~~~~~~~~~~~~~~~~~ */

/* status button */
.button {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    font-size: 25px;
  }
  
  .button.available {
    background-color: var(--active-color);
  }
  
  .button.busy {
    background-color: var(--active-color);
  }

  /* SearchBar */

  .SearchBar {
    height: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 1px solid #f3f3f3;
    border-radius: 25px;
    background-color: #f3f3f3;
  }

/* ActiveUsers */
.ActiveUsers {
    padding: 10px 20px;
    border: 1px solid #f3f3f3;
    border-radius: 25px;
    background-color: #f3f3f3;
}

.activeUsers-list {
    width: 80%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
}
  
.activeUsers-list li {
    flex: 0 0 100%;
    text-align: left;
    margin-bottom: 10px;
}
.activeUsers-list li::before{
    content: "\2022";
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    font-size: 2.5em;
}

.activeUser{
    color:black;
    font-weight: bold;
}

.activeUsers::before{
    color: #35985a;
}

.inactiveUser {
    color: #888;
  }

 .inactiveUser::before{
    color: #888; /* Inactive user color */
}

/*  ~~~~~~~~~~~~~~~~~~ Calendar  ~~~~~~~~~~~~~~~~~~ */
.Events {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    text-decoration: none;
}

.Calendar-table {
    width: 100%;
}

.Calendar-thead {
    width: 100px;
}

.Calendar-tbody {
    width: 100px;
}

.Event {
    width: 100%;
}

.Event-Button {
    text-decoration: none;
    width: 100%;
    align-self: center;
    justify-content: center;
    background-color: blue;
    padding: 10px;
    cursor: pointer;   
    border: 0;
    font-size: 20px;
}

.EmptyEvent {
    width: 120px;
    height: 80px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.Calendar {
    width: 90%;
    margin: 10px;
    padding: 10px;
}

/* Friends */
.FriendsPage {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    width: 95%;
    font-size: 40px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}

.friend-image{
    width:150px;
    height: 150px;
    object-fit: contain;
}

.friend-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .friend-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: right;
  }
  
  .friend-name {
    font-weight: bold;
  }
  
  .friend-available {
    color: green;
  }

  .friend-busy {
    color: gray;
  }

  /* SortingContainer */
  .sorting-container {
    flex: 0 0 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
  }

/* AVAILABILITY STYLES */
.availability-page {
    margin-bottom: 5vh;
}

.availability-page.button {
    /* background-color: blue; */
}

.add-availability-form-div {
    margin-bottom: 5vh;

}
